---
layout: default
---
{% assign pagetags = "" %}
{% for tag in page.categories %}
  {% capture ttags %}<a href="/categories/#{{ tag | slugify }}">{{ tag | slugify }}</a>|{% endcapture %}
  {% assign pagetags = pagetags | append:ttags %}
{% endfor %}
{% assign pagetags = pagetags | split:'|' | sort %}

<article class="post">
  <h1 style="text-align: center">{{ page.title }}</h1>

  <div class="date" style="text-align: center">
    <p>
      <span style="display: inline-block;" title="Site last build at {{ 'now' | date: "%A, %Y-%m-%dT%R%z" }}">
        Written on {{ page.date | date: "%A, %Y-%m-%d %R" }}.
      </span>
      <span style="display: inline-block;">
        {{ page.updated | date: ' Updated %A, %Y-%m-%d %R.' }}
      </span>
      <span style="display: inline-block;">
        Tagged {{ pagetags | array_to_sentence_string }}
      </span>
    </p>
  </div>
  
  {% include old.html %}
  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
