---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
    <p><span title="Site last build at {{ 'now' | date: "%A, %Y-%m-%dT%R%z" }}">Written on {{ page.date | date: "%A, %Y-%m-%dT%R%z" }}
      {{ page.updated | date: ', last updated %A, %Y-%m-%dT%R%z' }}</span></p>
  </div>
  <div>
  {% for tag in page.categories %}
    <a class="tag" href="/categories/#{{ tag | slugify }}">◆ {{ tag }}</a>
    {% endfor %}
  </div>
  {% include old.html %}
  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
